/*-------*/
/* RESET */
/*-------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto";
  color: hsl(var(--clr-dark));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*---------------*/
/* Global Styles */
/*---------------*/

:root {
  --primary-clr: 0 0% 15%;
  --secondary-clr: 46 100% 88%;
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-sub: 0 0% 15%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-750: 5.5rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/*---------*/
/* Utility */
/*---------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.wrapper {
  margin-inline: 2rem;
}

.section-layout {
    height: 100vh;
    margin-top: 5rem;
    padding-block: 2rem;
    display: flex;
    gap: 2.5rem;
  }


/* Colours */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-subtitle {
  color: hsl(var(--clr-sub));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-highlight {
  color: hsl(var(--secondary-clr));
}

/* Typography */

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-750,
.fs-600 {
  line-height: 1.1;
}

.nav__links {
  justify-content: flex-end;
  width: 100%;
}

.nav__links-item {
  display: flex;
  margin-inline: 30px;
  text-decoration: none;
  list-style: none;
}

/* ==================== HEADING ==================== */

#heading {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.heading__content {
  border-left: 2px solid black;
  padding-inline: 1.5rem;
  line-height: 4.5rem;
}

.heading__content h1 {
  font-size: var(--fs-900);
  font-weight: bold;
  width: 50%;
  line-height: 8rem;
}
.heading__content h3 {
  font-size: var(--fs-600);
  font-weight: bold;
}
.heading__content p {
  font-size: var(--fs-500);
  font-weight: 300;
}

.scrolling-words-container {
  font-size: var(--fs-500);
  font-weight: 300;
}
.scrolling-words-box {
  height: 3rem;
  margin: auto;
  overflow: hidden;
}
.scrolling-words-box ul {
  margin: 0;
  padding: 0;
  animation: scrollUp 5s infinite;
}
.scrolling-words-box ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  list-style: none;
}

@keyframes scrollUp {
  15%,
  25% {
    transform: translateY(-20%);
  }
  40%,
  50% {
    transform: translateY(-40%);
  }
  65%,
  75% {
    transform: translateY(-60%);
  }
  90%,
  100% {
    transform: translateY(-80%);
  }
}

/* ==================== HEADING END ==================== */

/* ==================== ABOUT ==================== */

.about__content {
  gap: 8rem;
}

.about__content-text {
  width: 85%;
}

.about__content-img {
  width: 65rem;
}

/* ==================== ABOUT END ==================== */

/* ==================== PROJECTS ==================== */
.project__link-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.2rem 2rem;
  border-radius: 20px;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a:link, a:visited {
  color: hsl(var(--text-dark));
}

a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* ==================== PROJECTS END ==================== */

/* ==================== FOOTER ==================== */

.footer__wrapper {
  justify-content: center;
  align-items: center;
  line-height: 0.2rem;
  margin-top: 75px;
}

.footer__icons {
  gap: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  

}


.fa-brands {
  border: solid 1px hsl(var(--clr-dark));
  padding: .3rem;
  border-radius: 50%;
}

/* ==================== FOOTER END ==================== */

/* ############################################################## */
/* about.html styling                                             */
/* ############################################################## */



/*---------------*/
/* Media Queries */
/*---------------*/

@media only screen and (max-width: 720px) {
  #heading {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .heading__content h1 {
    font-size: var(--fs-750);
    font-weight: bold;

  }

  .heading__content h3 {
    font-size: var(--fs-500);
    font-weight: bold;
  }

  .heading__content p {
    font-size: var(--fs-400);
    font-weight: 300;
  }

  .scrolling-words-container {
    font-size: var(--fs-500);
    font-weight: 300;
  }

  .about__content {
    height: 100vh;
    margin-top: 5rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    gap: 2.5rem;
  }
  .about__content-img {
    justify-content: center;
    align-items: center;
    width: 20rem;
  }
}

/*  */


